<div class="container" style="margin-top:10%; width:50%; background-color:#fcfcfc; padding:2% ">
  <div class="jumbotron">
      <h3 style="text-align:center">Signup Options</h3>
  
      <div class="container">
        
            <ul class="items">
                <li><a routerLink='/signupconsumer'>Signup as Consumer</a></li>
                <li><a routerLink='/signupprovider'>Signup as Service Provider</a></li>
              </ul>
        
      </div>
      
      
     
  </div>
 
  
</div>